<div class="main">
    <div class="page">
        {{{flash message}}}
        <form id="signup" name="signup" method="post" action="/auth/signup">
            <label for="email">Email</label>
            <input class="text" name="email" type="email" />
            <label for="password">Пароль</label>
            <input name="password" type="password" />
            <input class="btn" type="submit" value="Зарегистрироваться" />
        </form>
    </div>
</div>