<div class="main">
    <div class="page">
        <form id="signup" name="signup" method="post" action="/auth/signup">
            <label for="email">Email</label>
            <input class="text h_required" name="email" type="email" />
            <label for="password">Пароль</label>
            <input name="password" class="h_required" type="password" />
            <label for="password_repeat">Повторите пароль</label>
            <input name="password_repeat" class="h_required" type="password" />
            <input class="btn" type="submit" value="Зарегистрироваться" />
        </form>
    </div>
</div>